<div class="header">
  <div class="header__left">
    <i id="menu" class="material-icons" (click)="showSidebar()">menu</i>
    <img
      src="https://www.youtube.com/about/static/svgs/icons/brand-resources/YouTube-logo-full_color_light.svg?cache=72a5d9c"
      alt=""
    />
  </div>

  <div class="header__search">
    <form action="">
      <input type="text" placeholder="Search" />
      <button><i class="material-icons">search</i></button>
    </form>
  </div>

  <div class="header__icons">
    <i class="material-icons display-this">search</i>
    <i class="material-icons">videocam</i>
    <i class="material-icons">apps</i>
    <i class="material-icons">notifications</i>
    <i class="material-icons display-this">account_circle</i>
  </div>
</div>

<div class="mainBody">

  <div class="sidebar"   [ngClass]="status ? 'show-sidebar' : ''">
    <div class="sidebar__categories">
      <div class="sidebar__category">
        <i class="material-icons">home</i>
        <span>Home</span>
      </div>
      <div class="sidebar__category">
        <i class="material-icons">local_fire_department</i>
        <span>Trending</span>
      </div>
      <div class="sidebar__category">
        <i class="material-icons">subscriptions</i>
        <span>Subcriptions</span>
      </div>
    </div>
    <hr />
    <div class="sidebar__categories">
      <div class="sidebar__category">
        <i class="material-icons">library_add_check</i>
        <span>Library</span>
      </div>
      <div class="sidebar__category">
        <i class="material-icons">history</i>
        <span>History</span>
      </div>
      <div class="sidebar__category">
        <i class="material-icons">play_arrow</i>
        <span>Your Videos</span>
      </div>
      <div class="sidebar__category">
        <i class="material-icons">watch_later</i>
        <span>Watch Later</span>
      </div>
      <div class="sidebar__category">
        <i class="material-icons">thumb_up</i>
        <span>Liked Videos</span>
      </div>
    </div>
    <hr />
  </div>

  <div class="videos">
    <h1>Recommended</h1>

    <div class="videos__container">

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Byte.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/byte.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            What are Microservices Really All About? (And When Not To Use It)
            </h3></a>
            <a href="https://www.youtube.com/c/ByteByteGo">ByteByteGo</a>
            <span>125K Views • 4 Weeks Ago</span>
          </div>
        </div>
      </div>


      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Youtube.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/program.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Spring Boot Angular Full Stack Project Youtube Clone - Part 3
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Programming Techie</a>
            <span>4.7K Views • 1 Year Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Exponent.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/exponent.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/Exponent">Exponent</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>


      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>

      <div class="video">
        <div class="video__thumbnail">
          <img src="./assets/thumbnail/Layoff.jpg" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="./assets/profile/neetcode.jpg" alt="" />
          </div>
          <div class="title">
            <a href="https://youtu.be/Hmf7a5u8nCk"><h3>
            Tech Layoffs & Hiring Freezes
            </h3></a>
            <a href="https://www.youtube.com/c/NeetCode">Neetcode</a>
            <span>285K Views • 4 Days Ago</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
